@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 13, 15, 18;
  --background-end-rgb: 13, 15, 18;
}

html {
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}

.size-4 { width: 1rem; height: 1rem; }
.size-8 { width: 2rem; height: 2rem; }
.size-64 { width: 16rem; height: 16rem; }
.size-80 { width: 20rem; height: 20rem; }

/* Make sure inline icons are properly aligned */
.inline {
  display: inline-block;
  vertical-align: middle;
}
